images/@import url('https://fonts.googleapis.com/css?family=Comfortaa');
a{
  color: #ffff;
  text-decoration: none;
}
/*header image*/
img {
  max-width: 100%;
  height: auto;
  width: auto;
  transition: all.3s ease-out;
  -ms-transition: all.3s ease-out;
  -webkit-transition: all.3s ease-out;
  -moz-transition: all.3s ease-out;
  -o-transition: all.3s ease-out;
}

/*header*/
.header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #000000;
  color: #fff;
  font-family: sans-serif;
}

.header__section{
  display: flex;
  align-items: center;

}

.header__item{
  font-family: 'Comfortaa', cursive;
  top:10px;
  font-size: 2.5em;
  padding: 10px 15px;
  margin-left: 5px;
}
.header__item>a{
  color: #2fb7e0;
  text-decoration: none;
  transition: all.5s ease;
  -ms-transition: all.5s ease;
  -webkit-transition: all.5s ease;
  -moz-transition: all.5s ease;
  -o-transition: all.5s ease;
}

.header__item>a:hover{
  color: #c34f25;
  text-decoration: none;
  transition: all.5s ease;
  -ms-transition: all.5s ease;
  -webkit-transition: all.5s ease;
  -moz-transition: all.5s ease;
  -o-transition: all.5s ease;
}
/*nenada*/
.headerlogo{
  font-weight: bold;
}

.headerButton{
  cursor: pointer;
}

/*content*/
body {
  background-image: url(csgo.png);
  background-repeat: repeat-y;
  background-size:100%;
  margin:0;
}

/*footer*/
#footer {
position: fixed; /* Фиксированное положение */
left: 0; bottom: 0; /* Левый нижний угол */
margin-top: 25px;
padding: 10px; /* Поля вокруг текста */
background: black; /* Цвет фона */
text-align: center;
color: #fff; /* Цвет текста */
width: 100%; /* Ширина слоя */
}

#mail{
  text-align: right;
}
/* about */
div.bblock{
     margin-left: 15%;
     border-radius: 3px 3px 3px 3px;
     border: 3px solid white;
     line-height: 120px;/*Высота строки +  верт. центрирования текста*/
     font-size: 40px;
     background: #404040;
     color: white;
     margin-top: 14px;
     width: 1000px; /*Фиксируем ширину блока*/
     margin-right: 10px;
     text-align: center; /*Центрируем текст по горизонтали*/
}

span#win{
  font-size: 1em;
  color: #00ff00;
}

span#lose{
  font-size: 1em;
  color: red;
}

span#score{
  font-size: 1em;
  color: #3399ff;
}
/* addvert */
